.Weather {
  padding: 20px;
  border: 1px solid #0969da;
  border-radius: 5px;
}

.Weather canvas {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  display: inline-block;
}

.units {
  position: relative;
  font-size: 16px;
  top: -22px;
  opacity: 70%;
  color: #0969da;
  text-decoration: none;
}

form {
  margin-bottom: 20px;
}

.temperature {
  font-size: 45px;
  color: #0969da;
  font-weight: bold;
  position: relative;
  top: -5px;
}

h1 {
  font-size: 45px;
  font-weight: 100;
  line-height: 29px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.description {
  margin-bottom: 20px;
}

.float-left {
  float: left;
}
